<div align="center">
  <div>
    採用は投資だ
  </div>
  <br>
  <div>
    ポートフォリオ形成から始まる、新しい採用の形
  </div>
  <%= image_tag 'konjo.jpg' %>
  <div class="home-btn-area">
    <%= link_to '/home/login_window' do%>
      <div href="#" class="square_btn">
        <i class="fa fa-chevron-right"></i> いますぐ始める
      </div>
    <% end %>
  </div>
  <div class="home-btn-area">
    <%= link_to '/home/company_window' do %>
      <div href="#" class="square_btn">
        <i class="fa fa-chevron-right"></i> 法人の方はこちら
      </div>
    <% end %>
  </div>
</div>

<style>

</style>