<div class="feed-wrapper">hello</div>

<style>
.feed-wrapper {
    height: 500px;
    width: 860px;
    border-style: solid;
    position: absolute;
    background-color: #FFFFFF;
    margin: 12px; 
}
</style>