<div class="investment-wrapper">investment</div>

<style>
.investment-wrapper {
    height: 500px;
    width: 860px;
    border-style: solid;
    position: absolute;
    top: 670px;
    background-color: #FFFFFF;
    margin: 12px; 
}
</style>