// Place all the styles related to the project controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  text-align: center;
  margin: 30px;
  font-size: 26px;
}

.thumbnail {
  margin-bottom: 40px;
}

.number {
  font-size: 40px;
}

.project-description {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 50px;
}

.project-block {
  margin-bottom: 30px;
}
.current-info {
  margin-bottom: 30px;
}

.apply-btn {
  text-align: center;
}
