<div class="sidenav_info">
  <div class="sidenav_title">malna</div>
</div>

<style>
.sidenav_title {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  color: #818181;
}
.sidenav_info {
    height: 500px;
    width: 360px;
    border-style: solid;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    /*padding-top: 20px;*/
}

.sidenav_info a {
    /*padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
</style>