<div class="portfolio_info">
  <div class="portfolio_title">ここにはポートフォリオがかかれます</div>
</div>

<style>
.portfolio_title {
  padding: 6px 8px 6px 16px;
  font-size: 22px;
  color: #818181;
}
.portfolio_info {
    height: 500px;
    width: 360px;
    border-style: solid;
    position: absolute;
    z-index: 1;
    top: 670px;
    right: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 12px;
    /*padding-top: 20px;*/
}

.portfolio_info a {
    /*padding: 6px 8px 6px 16px;*/
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
</style>